.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(103, 77, 55); /* Updated background color */
  color: rgb(224, 218, 205); /* Updated text color */
  width: 100%;
  padding: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.footer-links div {
  width: 250px;
  margin: 1rem;
}

.footer-links_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links_logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}

.footer-links_contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-links_contact h4 {
  font-size: 18px;
  line-height: 22px;
  font-family: "Garamond", serif;
  color: rgb(224, 218, 205);
  margin-bottom: 1rem;
}

.footer-links_contact p {
  font-size: 16px;
  line-height: 20px;
  font-family: "Lora", serif;
  color: rgb(224, 218, 205);
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.footer-copyright p {
  font-size: 16px;
  font-family: "Garamond", serif;
  line-height: 20px;
  color: rgb(224, 218, 205);
}

.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(103, 77, 55);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-top:hover {
  background-color: rgb(172, 71, 47);
}

.icon {
  background-color: rgb(224, 218, 205);
  padding: 10px;
  border-radius: 50%;
  margin: 5px;
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.icon:hover {
  background-color: rgb(172, 71, 47);
  transform: scale(1.2);
}
